-- CreateEnum
CREATE TYPE "ScheduleStatus" AS ENUM ('NOT_STARTED', 'IN_PROGRESS', 'COMPLETED', 'NOT_COMPLETED', 'CANCELLED', 'BACKUP_PLAN');

-- CreateEnum
CREATE TYPE "VisitSource" AS ENUM ('MOBILE', 'OFFICE_EDIT', 'AUTO_MATCH');

-- CreateEnum
CREATE TYPE "CancelledBy" AS ENUM ('INDIVIDUAL', 'DSP', 'OFFICE');

-- CreateEnum
CREATE TYPE "MedicationType" AS ENUM ('SCHEDULED', 'PRN');

-- CreateEnum
CREATE TYPE "MedicationOrderStatus" AS ENUM ('ACTIVE', 'ON_HOLD', 'DISCONTINUED');

-- CreateEnum
CREATE TYPE "MedicationAdminStatus" AS ENUM ('GIVEN', 'REFUSED', 'MISSED', 'HELD', 'LATE', 'ERROR');

-- CreateEnum
CREATE TYPE "MedicationIncidentSeverity" AS ENUM ('LOW', 'MODERATE', 'HIGH');

-- CreateEnum
CREATE TYPE "MedicationIncidentStatus" AS ENUM ('OPEN', 'IN_REVIEW', 'CLOSED');

-- CreateTable
CREATE TABLE "Individual" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "firstName" TEXT NOT NULL,
    "middleName" TEXT,
    "lastName" TEXT NOT NULL,
    "dob" TEXT NOT NULL,
    "gender" TEXT,
    "ssnLast4" TEXT,
    "branch" TEXT NOT NULL,
    "location" TEXT NOT NULL,
    "primaryPhone" TEXT,
    "secondaryPhone" TEXT,
    "email" TEXT,
    "address1" TEXT,
    "address2" TEXT,
    "city" TEXT,
    "county" TEXT,
    "state" TEXT,
    "zip" TEXT,
    "acceptedServices" TEXT NOT NULL,
    "emergency1Name" TEXT,
    "emergency1Relationship" TEXT,
    "emergency1PhonePrimary" TEXT,
    "emergency1PhoneSecondary" TEXT,
    "emergency1Notes" TEXT,
    "emergency2Name" TEXT,
    "emergency2Relationship" TEXT,
    "emergency2PhonePrimary" TEXT,
    "emergency2PhoneSecondary" TEXT,
    "emergency2Notes" TEXT,
    "billingSameAsPrimary" BOOLEAN NOT NULL DEFAULT true,
    "billingAddress1" TEXT,
    "billingAddress2" TEXT,
    "billingCity" TEXT,
    "billingState" TEXT,
    "billingZip" TEXT,
    "guardianName" TEXT,
    "guardianPhone" TEXT,
    "repPayeeName" TEXT,
    "repPayeePhone" TEXT,
    "pcpName" TEXT,
    "pcpPhone" TEXT,
    "pcpFax" TEXT,
    "pcpNpi" TEXT,
    "pcpAddress" TEXT,
    "allergies" TEXT,
    "priorityCode" TEXT,
    "mobility" TEXT,
    "equipOxygen" BOOLEAN NOT NULL DEFAULT false,
    "equip_cpap" BOOLEAN NOT NULL DEFAULT false,
    "equip_ventilator" BOOLEAN NOT NULL DEFAULT false,
    "equip_iv_pump" BOOLEAN NOT NULL DEFAULT false,
    "equip_syringe_pump" BOOLEAN NOT NULL DEFAULT false,
    "equip_feeding_tube" BOOLEAN NOT NULL DEFAULT false,
    "equip_nebulizer" BOOLEAN NOT NULL DEFAULT false,
    "equip_wheelchair" BOOLEAN NOT NULL DEFAULT false,
    "equip_hospital_bed" BOOLEAN NOT NULL DEFAULT false,
    "equipOther" TEXT,
    "prefTime" TEXT,
    "prefNotes" TEXT,
    "langPrimary" TEXT,
    "langSecondary" TEXT,
    "caregiverGender" TEXT,
    "prefOther" TEXT,
    "advType" TEXT,
    "advDateIn" TEXT,
    "advDateOut" TEXT,
    "advStatus" TEXT,
    "advPhysician" TEXT,
    "advAttach" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Individual_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Employee" (
    "id" TEXT NOT NULL,
    "firstName" TEXT NOT NULL,
    "middleName" TEXT,
    "lastName" TEXT NOT NULL,
    "dob" TEXT,
    "gender" TEXT,
    "phone" TEXT,
    "email" TEXT NOT NULL,
    "educationLevel" TEXT,
    "ssn" TEXT,
    "employeeId" TEXT NOT NULL,
    "role" TEXT,
    "status" TEXT,
    "hireDate" TEXT,
    "terminationDate" TEXT,
    "employmentType" TEXT,
    "branch" TEXT,
    "workLocation" TEXT,
    "supervisorName" TEXT,
    "address1" TEXT,
    "address2" TEXT,
    "city" TEXT,
    "state" TEXT,
    "zip" TEXT,
    "emergencyName" TEXT,
    "emergencyRelationship" TEXT,
    "emergencyPhone" TEXT,
    "emergencyEmail" TEXT,
    "emergencyPreferredLanguage" TEXT,
    "emergencyAddress" TEXT,
    "preferredShift" TEXT,
    "canWorkWeekends" BOOLEAN NOT NULL DEFAULT false,
    "canWorkHolidays" BOOLEAN NOT NULL DEFAULT false,
    "maxWeeklyHours" INTEGER,
    "notes" TEXT,
    "notifyByEmail" BOOLEAN NOT NULL DEFAULT true,
    "notifyBySMS" BOOLEAN NOT NULL DEFAULT false,
    "notifyByInApp" BOOLEAN NOT NULL DEFAULT true,
    "sendScheduleChanges" BOOLEAN NOT NULL DEFAULT true,
    "sendPayrollUpdates" BOOLEAN NOT NULL DEFAULT true,
    "sendPolicyUpdates" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "isMobileUser" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "Employee_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Payer" (
    "id" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "plan" TEXT,
    "memberId" TEXT NOT NULL,
    "groupId" TEXT,
    "startDate" TEXT,
    "endDate" TEXT,
    "eligibility" TEXT,
    "notes" TEXT,
    "individualId" TEXT NOT NULL,

    CONSTRAINT "Payer_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Medication" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "dose" TEXT,
    "schedule" TEXT,
    "individualId" TEXT NOT NULL,

    CONSTRAINT "Medication_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Diagnosis" (
    "id" TEXT NOT NULL,
    "icd" TEXT NOT NULL,
    "description" TEXT,
    "onset" TEXT,
    "individualId" TEXT NOT NULL,

    CONSTRAINT "Diagnosis_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Counter" (
    "id" TEXT NOT NULL,
    "value" INTEGER NOT NULL,

    CONSTRAINT "Counter_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Service" (
    "id" TEXT NOT NULL,
    "serviceCode" TEXT NOT NULL,
    "serviceName" TEXT NOT NULL,
    "billingCode" TEXT,
    "category" TEXT NOT NULL,
    "description" TEXT,
    "status" TEXT NOT NULL,
    "billable" BOOLEAN NOT NULL DEFAULT true,
    "notes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Service_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MasterScheduleTemplate" (
    "id" TEXT NOT NULL,
    "individualId" TEXT NOT NULL,
    "name" TEXT,
    "effectiveFrom" TIMESTAMP(3) NOT NULL,
    "effectiveTo" TIMESTAMP(3),
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "notes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "MasterScheduleTemplate_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MasterTemplateShift" (
    "id" TEXT NOT NULL,
    "templateId" TEXT NOT NULL,
    "dayOfWeek" INTEGER NOT NULL,
    "serviceId" TEXT NOT NULL,
    "startMinutes" INTEGER NOT NULL,
    "endMinutes" INTEGER NOT NULL,
    "defaultDspId" TEXT,
    "billable" BOOLEAN NOT NULL DEFAULT true,
    "notes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "MasterTemplateShift_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ScheduleWeek" (
    "id" TEXT NOT NULL,
    "individualId" TEXT NOT NULL,
    "templateId" TEXT,
    "weekStart" TIMESTAMP(3) NOT NULL,
    "weekEnd" TIMESTAMP(3) NOT NULL,
    "generatedFromTemplate" BOOLEAN NOT NULL DEFAULT true,
    "notes" TEXT,
    "locked" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ScheduleWeek_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ScheduleShift" (
    "id" TEXT NOT NULL,
    "weekId" TEXT NOT NULL,
    "individualId" TEXT NOT NULL,
    "serviceId" TEXT NOT NULL,
    "plannedDspId" TEXT,
    "actualDspId" TEXT,
    "scheduleDate" TIMESTAMP(3) NOT NULL,
    "plannedStart" TIMESTAMP(3) NOT NULL,
    "plannedEnd" TIMESTAMP(3) NOT NULL,
    "status" "ScheduleStatus" NOT NULL DEFAULT 'NOT_STARTED',
    "cancelledBy" "CancelledBy",
    "cancelledAt" TIMESTAMP(3),
    "cancelReason" TEXT,
    "backupNote" TEXT,
    "billable" BOOLEAN NOT NULL DEFAULT true,
    "notes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ScheduleShift_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Visit" (
    "id" TEXT NOT NULL,
    "scheduleShiftId" TEXT,
    "individualId" TEXT NOT NULL,
    "dspId" TEXT NOT NULL,
    "serviceId" TEXT,
    "checkInAt" TIMESTAMP(3) NOT NULL,
    "checkOutAt" TIMESTAMP(3),
    "source" "VisitSource" NOT NULL DEFAULT 'MOBILE',
    "durationMinutes" INTEGER,
    "units" INTEGER,
    "isBillable" BOOLEAN NOT NULL DEFAULT true,
    "nonBillableReason" TEXT,
    "gpsLatitude" DOUBLE PRECISION,
    "gpsLongitude" DOUBLE PRECISION,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Visit_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "DailyNote" (
    "id" TEXT NOT NULL,
    "shiftId" TEXT NOT NULL,
    "visitId" TEXT,
    "individualId" TEXT NOT NULL,
    "staffId" TEXT NOT NULL,
    "serviceId" TEXT,
    "date" TIMESTAMP(3) NOT NULL,
    "individualName" TEXT NOT NULL,
    "staffName" TEXT,
    "serviceCode" TEXT NOT NULL,
    "serviceName" TEXT NOT NULL,
    "scheduleStart" TEXT NOT NULL,
    "scheduleEnd" TEXT NOT NULL,
    "visitStart" TEXT,
    "visitEnd" TEXT,
    "mileage" DOUBLE PRECISION,
    "isCanceled" BOOLEAN NOT NULL DEFAULT false,
    "cancelReason" TEXT,
    "payload" JSONB NOT NULL,
    "staffReportFileId" TEXT,
    "individualReportFileId" TEXT,
    "staffReportDocPath" TEXT,
    "staffReportPdfPath" TEXT,
    "individualReportDocPath" TEXT,
    "individualReportPdfPath" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "DailyNote_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ISPAllocation" (
    "id" TEXT NOT NULL,
    "individualId" TEXT NOT NULL,
    "serviceId" TEXT NOT NULL,
    "payerId" TEXT,
    "startDate" TIMESTAMP(3) NOT NULL,
    "endDate" TIMESTAMP(3),
    "unitsPerWeek" INTEGER,
    "unitsPerMonth" INTEGER,
    "totalAuthorizedUnits" INTEGER,
    "notes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ISPAllocation_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "IspBspForm" (
    "id" TEXT NOT NULL,
    "individualId" TEXT NOT NULL,
    "formData" JSONB NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "IspBspForm_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "admin_users" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "firstName" TEXT NOT NULL,
    "lastName" TEXT NOT NULL,
    "locked" BOOLEAN NOT NULL DEFAULT false,
    "userType" TEXT NOT NULL DEFAULT 'ADMIN',
    "passwordHash" TEXT,
    "passwordSalt" TEXT,
    "passwordUpdatedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "admin_users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "admin_roles" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "admin_roles_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "admin_privileges" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "admin_privileges_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "admin_user_roles" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "roleId" TEXT NOT NULL,

    CONSTRAINT "admin_user_roles_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "admin_user_privileges" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "privilegeId" TEXT NOT NULL,

    CONSTRAINT "admin_user_privileges_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "admin_user_supervisors" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "supervisorId" TEXT NOT NULL,

    CONSTRAINT "admin_user_supervisors_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MedicationOrder" (
    "id" TEXT NOT NULL,
    "individualId" TEXT NOT NULL,
    "medicationName" TEXT NOT NULL,
    "form" TEXT,
    "doseValue" DOUBLE PRECISION NOT NULL,
    "doseUnit" TEXT NOT NULL,
    "route" TEXT NOT NULL,
    "type" "MedicationType" NOT NULL,
    "frequencyText" TEXT,
    "timesOfDay" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "startDate" TIMESTAMP(3) NOT NULL,
    "endDate" TIMESTAMP(3),
    "status" "MedicationOrderStatus" NOT NULL DEFAULT 'ACTIVE',
    "prescriberName" TEXT,
    "pharmacyName" TEXT,
    "indications" TEXT,
    "allergyFlag" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "MedicationOrder_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MedicationAdministration" (
    "id" TEXT NOT NULL,
    "orderId" TEXT NOT NULL,
    "individualId" TEXT NOT NULL,
    "scheduledDateTime" TIMESTAMP(3) NOT NULL,
    "actualDateTime" TIMESTAMP(3),
    "status" "MedicationAdminStatus" NOT NULL,
    "reason" TEXT,
    "vitalsSummary" TEXT,
    "staffId" TEXT,
    "staffName" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "MedicationAdministration_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MedicationInventory" (
    "id" TEXT NOT NULL,
    "orderId" TEXT,
    "individualId" TEXT NOT NULL,
    "medicationName" TEXT NOT NULL,
    "isControlled" BOOLEAN NOT NULL DEFAULT false,
    "currentQuantity" DOUBLE PRECISION NOT NULL,
    "unit" TEXT NOT NULL,
    "minThreshold" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "daysRemaining" INTEGER,
    "lastCountDate" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "MedicationInventory_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MedicationIncident" (
    "id" TEXT NOT NULL,
    "individualId" TEXT NOT NULL,
    "individualName" TEXT NOT NULL,
    "date" TIMESTAMP(3) NOT NULL,
    "medicationName" TEXT,
    "type" TEXT NOT NULL,
    "severity" "MedicationIncidentSeverity" NOT NULL,
    "status" "MedicationIncidentStatus" NOT NULL DEFAULT 'OPEN',
    "notes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "MedicationIncident_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MobileLoginOtp" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "staffId" TEXT NOT NULL,
    "staffName" TEXT NOT NULL,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "usedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "MobileLoginOtp_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MobileRefreshToken" (
    "id" TEXT NOT NULL,
    "staffId" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "tokenHash" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "revokedAt" TIMESTAMP(3),

    CONSTRAINT "MobileRefreshToken_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "Individual_code_key" ON "Individual"("code");

-- CreateIndex
CREATE UNIQUE INDEX "Employee_employeeId_key" ON "Employee"("employeeId");

-- CreateIndex
CREATE UNIQUE INDEX "Service_serviceCode_key" ON "Service"("serviceCode");

-- CreateIndex
CREATE INDEX "MasterScheduleTemplate_individualId_isActive_idx" ON "MasterScheduleTemplate"("individualId", "isActive");

-- CreateIndex
CREATE INDEX "MasterTemplateShift_templateId_dayOfWeek_idx" ON "MasterTemplateShift"("templateId", "dayOfWeek");

-- CreateIndex
CREATE INDEX "ScheduleWeek_individualId_weekStart_idx" ON "ScheduleWeek"("individualId", "weekStart");

-- CreateIndex
CREATE INDEX "ScheduleShift_weekId_idx" ON "ScheduleShift"("weekId");

-- CreateIndex
CREATE INDEX "ScheduleShift_scheduleDate_idx" ON "ScheduleShift"("scheduleDate");

-- CreateIndex
CREATE INDEX "ScheduleShift_individualId_scheduleDate_idx" ON "ScheduleShift"("individualId", "scheduleDate");

-- CreateIndex
CREATE INDEX "ScheduleShift_plannedDspId_scheduleDate_idx" ON "ScheduleShift"("plannedDspId", "scheduleDate");

-- CreateIndex
CREATE INDEX "ScheduleShift_actualDspId_scheduleDate_idx" ON "ScheduleShift"("actualDspId", "scheduleDate");

-- CreateIndex
CREATE INDEX "Visit_scheduleShiftId_idx" ON "Visit"("scheduleShiftId");

-- CreateIndex
CREATE INDEX "Visit_dspId_checkInAt_idx" ON "Visit"("dspId", "checkInAt");

-- CreateIndex
CREATE INDEX "Visit_individualId_checkInAt_idx" ON "Visit"("individualId", "checkInAt");

-- CreateIndex
CREATE INDEX "DailyNote_date_idx" ON "DailyNote"("date");

-- CreateIndex
CREATE INDEX "DailyNote_individualId_date_idx" ON "DailyNote"("individualId", "date");

-- CreateIndex
CREATE INDEX "DailyNote_staffId_date_idx" ON "DailyNote"("staffId", "date");

-- CreateIndex
CREATE INDEX "ISPAllocation_individualId_serviceId_startDate_idx" ON "ISPAllocation"("individualId", "serviceId", "startDate");

-- CreateIndex
CREATE UNIQUE INDEX "IspBspForm_individualId_key" ON "IspBspForm"("individualId");

-- CreateIndex
CREATE UNIQUE INDEX "admin_users_email_key" ON "admin_users"("email");

-- CreateIndex
CREATE UNIQUE INDEX "admin_roles_code_key" ON "admin_roles"("code");

-- CreateIndex
CREATE UNIQUE INDEX "admin_privileges_code_key" ON "admin_privileges"("code");

-- CreateIndex
CREATE UNIQUE INDEX "admin_user_roles_userId_roleId_key" ON "admin_user_roles"("userId", "roleId");

-- CreateIndex
CREATE UNIQUE INDEX "admin_user_privileges_userId_privilegeId_key" ON "admin_user_privileges"("userId", "privilegeId");

-- CreateIndex
CREATE UNIQUE INDEX "admin_user_supervisors_userId_supervisorId_key" ON "admin_user_supervisors"("userId", "supervisorId");

-- CreateIndex
CREATE INDEX "MedicationOrder_individualId_status_idx" ON "MedicationOrder"("individualId", "status");

-- CreateIndex
CREATE INDEX "MedicationAdministration_individualId_scheduledDateTime_idx" ON "MedicationAdministration"("individualId", "scheduledDateTime");

-- CreateIndex
CREATE INDEX "MedicationAdministration_orderId_scheduledDateTime_idx" ON "MedicationAdministration"("orderId", "scheduledDateTime");

-- CreateIndex
CREATE INDEX "MedicationInventory_individualId_idx" ON "MedicationInventory"("individualId");

-- CreateIndex
CREATE INDEX "MedicationInventory_individualId_isControlled_idx" ON "MedicationInventory"("individualId", "isControlled");

-- CreateIndex
CREATE INDEX "MedicationIncident_individualId_date_idx" ON "MedicationIncident"("individualId", "date");

-- CreateIndex
CREATE INDEX "MedicationIncident_severity_idx" ON "MedicationIncident"("severity");

-- CreateIndex
CREATE INDEX "MedicationIncident_status_idx" ON "MedicationIncident"("status");

-- CreateIndex
CREATE INDEX "MobileLoginOtp_email_idx" ON "MobileLoginOtp"("email");

-- CreateIndex
CREATE INDEX "MobileLoginOtp_email_code_idx" ON "MobileLoginOtp"("email", "code");

-- CreateIndex
CREATE INDEX "MobileRefreshToken_staffId_idx" ON "MobileRefreshToken"("staffId");

-- CreateIndex
CREATE INDEX "MobileRefreshToken_email_idx" ON "MobileRefreshToken"("email");

-- CreateIndex
CREATE INDEX "MobileRefreshToken_expiresAt_idx" ON "MobileRefreshToken"("expiresAt");

-- CreateIndex
CREATE INDEX "MobileRefreshToken_revokedAt_idx" ON "MobileRefreshToken"("revokedAt");

-- CreateIndex
CREATE UNIQUE INDEX "MobileRefreshToken_tokenHash_key" ON "MobileRefreshToken"("tokenHash");

-- AddForeignKey
ALTER TABLE "Payer" ADD CONSTRAINT "Payer_individualId_fkey" FOREIGN KEY ("individualId") REFERENCES "Individual"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Medication" ADD CONSTRAINT "Medication_individualId_fkey" FOREIGN KEY ("individualId") REFERENCES "Individual"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Diagnosis" ADD CONSTRAINT "Diagnosis_individualId_fkey" FOREIGN KEY ("individualId") REFERENCES "Individual"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MasterScheduleTemplate" ADD CONSTRAINT "MasterScheduleTemplate_individualId_fkey" FOREIGN KEY ("individualId") REFERENCES "Individual"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MasterTemplateShift" ADD CONSTRAINT "MasterTemplateShift_templateId_fkey" FOREIGN KEY ("templateId") REFERENCES "MasterScheduleTemplate"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MasterTemplateShift" ADD CONSTRAINT "MasterTemplateShift_serviceId_fkey" FOREIGN KEY ("serviceId") REFERENCES "Service"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MasterTemplateShift" ADD CONSTRAINT "MasterTemplateShift_defaultDspId_fkey" FOREIGN KEY ("defaultDspId") REFERENCES "Employee"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ScheduleWeek" ADD CONSTRAINT "ScheduleWeek_individualId_fkey" FOREIGN KEY ("individualId") REFERENCES "Individual"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ScheduleWeek" ADD CONSTRAINT "ScheduleWeek_templateId_fkey" FOREIGN KEY ("templateId") REFERENCES "MasterScheduleTemplate"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ScheduleShift" ADD CONSTRAINT "ScheduleShift_weekId_fkey" FOREIGN KEY ("weekId") REFERENCES "ScheduleWeek"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ScheduleShift" ADD CONSTRAINT "ScheduleShift_individualId_fkey" FOREIGN KEY ("individualId") REFERENCES "Individual"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ScheduleShift" ADD CONSTRAINT "ScheduleShift_serviceId_fkey" FOREIGN KEY ("serviceId") REFERENCES "Service"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ScheduleShift" ADD CONSTRAINT "ScheduleShift_plannedDspId_fkey" FOREIGN KEY ("plannedDspId") REFERENCES "Employee"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ScheduleShift" ADD CONSTRAINT "ScheduleShift_actualDspId_fkey" FOREIGN KEY ("actualDspId") REFERENCES "Employee"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Visit" ADD CONSTRAINT "Visit_scheduleShiftId_fkey" FOREIGN KEY ("scheduleShiftId") REFERENCES "ScheduleShift"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Visit" ADD CONSTRAINT "Visit_individualId_fkey" FOREIGN KEY ("individualId") REFERENCES "Individual"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Visit" ADD CONSTRAINT "Visit_dspId_fkey" FOREIGN KEY ("dspId") REFERENCES "Employee"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Visit" ADD CONSTRAINT "Visit_serviceId_fkey" FOREIGN KEY ("serviceId") REFERENCES "Service"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ISPAllocation" ADD CONSTRAINT "ISPAllocation_individualId_fkey" FOREIGN KEY ("individualId") REFERENCES "Individual"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ISPAllocation" ADD CONSTRAINT "ISPAllocation_serviceId_fkey" FOREIGN KEY ("serviceId") REFERENCES "Service"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ISPAllocation" ADD CONSTRAINT "ISPAllocation_payerId_fkey" FOREIGN KEY ("payerId") REFERENCES "Payer"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "IspBspForm" ADD CONSTRAINT "IspBspForm_individualId_fkey" FOREIGN KEY ("individualId") REFERENCES "Individual"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "admin_user_roles" ADD CONSTRAINT "admin_user_roles_userId_fkey" FOREIGN KEY ("userId") REFERENCES "admin_users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "admin_user_roles" ADD CONSTRAINT "admin_user_roles_roleId_fkey" FOREIGN KEY ("roleId") REFERENCES "admin_roles"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "admin_user_privileges" ADD CONSTRAINT "admin_user_privileges_userId_fkey" FOREIGN KEY ("userId") REFERENCES "admin_users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "admin_user_privileges" ADD CONSTRAINT "admin_user_privileges_privilegeId_fkey" FOREIGN KEY ("privilegeId") REFERENCES "admin_privileges"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "admin_user_supervisors" ADD CONSTRAINT "admin_user_supervisors_userId_fkey" FOREIGN KEY ("userId") REFERENCES "admin_users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "admin_user_supervisors" ADD CONSTRAINT "admin_user_supervisors_supervisorId_fkey" FOREIGN KEY ("supervisorId") REFERENCES "Employee"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MedicationAdministration" ADD CONSTRAINT "MedicationAdministration_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES "MedicationOrder"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MedicationInventory" ADD CONSTRAINT "MedicationInventory_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES "MedicationOrder"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MobileRefreshToken" ADD CONSTRAINT "MobileRefreshToken_staffId_fkey" FOREIGN KEY ("staffId") REFERENCES "Employee"("id") ON DELETE CASCADE ON UPDATE CASCADE;

